/* Box sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
pre {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default spacing for paragraphs */
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default spacing for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default spacing for lists */
ul,
ol,
dl {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default styling for form elements */
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Remove default styling for anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default styling for images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove default styling for tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom style */

center {
  padding: 2rem;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  margin-bottom: 1rem;
}

.steps button {
  margin-right: 1rem;
  margin-bottom: 1.6rem;
  padding: 0.5rem;
  width: 4rem;
  font-size: 1.3rem;
  background-color: cadetblue;
  color: aliceblue;
  cursor: pointer;
}

.buttons button {
  margin-right: 1rem;
  padding: 0.8rem;
  width: 9rem;
  font-size: 1.4rem;
  background-color: brown;
  color: aliceblue;
  cursor: pointer;
}

.steps button.active--step {
  background-color: cornflowerblue;
  color: black;
}

.steps button.active--max {
  background-color: darkorange;
  color: black;
}
