body {
  width: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  width: 30%;
  margin: 0 auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
  background-color: bisque;
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 1rem;
  font-size: 1.3rem;
}

input {
  padding: 0.5rem;
  width: 90%;
  margin-left: 1rem;
}

input.error {
  border-color: red;
}

span {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: tomato;
}

#submit {
  padding: 0.5rem;
  width: 90%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
